.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #e2e2e252;
  -webkit-backdrop-filter: saturate(120%) blur(10px);
          backdrop-filter: saturate(120%) blur(10px);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-gray-900);
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 0 4rem;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.list{
  gap: .1rem;
}

.list-link a,
.list-link {
  cursor: pointer;
  padding:1rem 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  border-radius: 7px;
  transition: all 0.5s ease-in;
}


.list-link:hover a,
.list-link a:active,
.list-link .current {
  background: var(--color-gray-900);
  color: var(--color-gray-100);
}

.list-link:hover a{
  background: var(--color-gray-500);
}