.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.btn{
    padding: 1rem 1.5rem;
    border: transparent;
    background: inherit;
    cursor: pointer;
    text-transform:capitalize;
}

.btn--secondary{
    background: var(  --color-primary);
    color: var(--color-white);
}

.btn--tertiary{
    border: 1px solid var(  --color-black);
}

