.header{
    height: 40rem;
}

.figure{
    margin-top: 4rem;
    width: 30rem;
    aspect-ratio: 1;
    clip-path: circle(40% at 40% 40%);
}

.img:hover{
    transform:scale(1);
}

.detail{
    margin: 0 auto;
}