.btn {
  display: inline-block;
  border-radius: 4px;
 background-color: var(--color-primary);
  border: none;
  font-size: 1.8rem;
  padding: 1.6rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: .5rem 0;
  color: #fff;

  & span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  & span:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.5rem;
    transition: 0.5s;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 3px rgb(180, 178, 178);
    background-color: var(--color-contrast);
    color: var(--color-black);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 1px rgb(180, 178, 178);
  }

  &:hover span {
    padding-right: 1.5rem;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
}
