@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7411764706), rgba(0, 0, 0, 0.7411764706)), url(../../assets/img/hero.jpg);
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.header__container {
  width: 60%;
  padding: 4rem;
  margin-top: auto;
}
.header-text {
  -webkit-animation: animate-pop 0.5s ease-in-out 0.2s forwards;
          animation: animate-pop 0.5s ease-in-out 0.2s forwards;
}
.header__option {
  margin-top: 10rem;
  flex-wrap: nowrap;
}