.footer{
    padding: 7rem 5rem;

}

@media (min-width:64em) {
    .footer{
        padding: 7rem 25rem;
    }
}

.footer__baseline{
    margin-top: 2rem;
     border-top:1px dotted var(--color-gray); 
     padding-top: 2rem;
}


.footer__topline{
    align-items: flex-start;
    flex-wrap: nowrap;
}