@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,300&display=swap");

:root {
  --color-primary: #145a94;
  --color-primary__light: #b6d4eb;

  --color-contrast: #fefefe;
  --color-contrast__light: #d2e7f5;

  --color-white: #ffffff;
  --color-gray: #a8a3a3;
  --color-black: #353534;

  --shadow: 3px 11px 13px #3c210a;
}

*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 51%;
  }
}

@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 31.25em) {
  html {
    font-size: 40.75%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 23.44em) {
  html {
    font-size: 20%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

.p-1 {
  padding: 1rem 2rem;
}

.blocks {
  display: block;
}

.inline {
  display: inline;
}



.center {
  margin: 0 auto;
  text-align: center;
}

/*  */

/* typography */
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  text-transform: capitalize;
}

.heading-jumbo {
  font-size: 5.4rem;
  text-transform: uppercase;
}

.heading--primary {
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 300;
}

.heading-tertiary {
  font-size: 2rem;
}

.heading-tertiary__light {
  font-size: 1.8rem;
  font-weight: 300;
}

.heading-quadruple {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: cursive;
  text-transform: lowercase;
  color: #796b1e;
}

.text-white {
  color: var(--color-white);
}

.bolder {
  font-weight: 700;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.preview {
  font-size: 1.43rem;
  padding: 15rem 0;
  text-align: center;
}

li {
  list-style-type: none;
}

.fluid-container {
  padding: 10rem 0;
  max-width: 80vw;
  margin: 0 auto;
}

@media (max-width: 60em) {
  .fluid-container {
    max-width: 95%;
  }
}

/* Flex */

.flex {
  display: flex;
  align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

.flex--right,
.flex--left {
  flex: 1 1 86%;
  padding: 4rem;
}



@media (min-width: 56.25em) {
  .flex {
    flex-wrap:nowrap;
  }
  .flex--right,
  .flex--left {
    flex: 1 1 46%;
  }
  .flex--left {
    order: -3;
  }
}

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*  */

.property-details {
  display: flex;
  justify-content: left;
  padding: 0;
  position: relative;
  left: 0;
}

.svg-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.svg {
  height: 2rem;
  width: 2rem;
  margin-right: .4rem;
  fill: var(--color-black);
}

.svg-container {
  padding: .5rem;
  gap: 0;
  justify-content: center !important;
}

.svg-container:not(:last-of-type) {
  border-right: 1px solid var(--color-black);
}

section {
  margin: 7rem auto;
}

.section {
  width: 80vw;
}

.page{
  height: 100vh;
  width: 100vw;
}


.grid {
  display: grid;
  gap: 1rem;
}

.box {
  width: 3rem;
  aspect-ratio: 1;
  background-color: var(--color-contrast__light);
  border-radius: 3px;
  position: relative;
  margin-top: 5rem;
}

.box::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 150%;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: var(--color-contrast);
  z-index: 1;
}

.testimonial {
  min-height: 30rem;
  width: 100%;
  padding: 4rem 25%;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.paragraph {
  font-size: 1.8rem;
}

.paragraph::first-letter {
  text-transform: capitalize;
}

.figure{
  overflow: hidden;
  border-radius: 1rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform .3s ease-in-out;
}

.img:hover {
  transform: scale(1.1);
}

.circle {
  width: 20rem;
  clip-path: circle(45% at 50%);
}

.focal-text {
  color: var(--color-primary__light);
  text-decoration: underline;
}

.pill {
  border-radius: 100px !important;
}

.close{
  font-size: 5rem;
  font-weight: bolder;
}

.current {
  text-decoration: underline !important;
}

.red {

  animation: animateCard .4s ease-in-out forwards;
  transition: .4s ease-in-out;
}

.red2 {
  animation: animateCard .4s ease-in-out reverse;
  transition: .4s ease-in-out;
}

@keyframes animateCard {
  from {
    opacity: .3;
    transform: translateX(-2%);

  }

  to {
    opacity: 0;
    transform: translateX(0%);
  }
}