.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f1f1f14e;
  backdrop-filter: saturate(120%) blur(10px);
  cursor: pointer;
  padding:0 4rem;
}

.logo{
    font-size: 4rem;
}

.list {
  &-link {
    cursor: pointer;
    padding: 2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: currentColor;
    transition: all .5s ease-in;

    &:hover {
       text-decoration: underline;
    }
  }
}
