.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(252, 252, 252, 0.306);
  -webkit-backdrop-filter: saturate(120%) blur(10px);
          backdrop-filter: saturate(120%) blur(10px);
  cursor: pointer;
  padding: 0 4rem;
  justify-content: space-between;
}

.logo {
  font-size: 4rem;
}

.list{
  gap: .1rem;
}

.list-link a,
.list-link {
  cursor: pointer;
  padding:1rem 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: currentColor;
  transition: all 0.5s ease-in;
}
.list-link:hover a,
.list-link a:active
.current {
  text-decoration: underline;
}
